<!DOCTYPE html>
<html>
<head>
    <partial name="_PageHeadElement"/>

    @RenderSection("Styles", required: false)
    @RenderSection("HeadScripts", required: false)
</head>
<body>
<partial name="_GoogleTagManagerBodyElement"/>

<div class="main-content" id="panel">
    
    
    <!-- Page content -->
    
        @RenderBody()
        <partial name="_Footer"/>
</div>

<partial name="_ThemeScripts"/>

@RenderSection("Scripts", required: false)
</body>
</html>
