<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<meta name="description" content="Online Book Store">
<meta name="author" content="Ahmad Bwidani">
<title>@ViewData["Title"] | Online Book Store.</title>
<!-- Favicon -->
<link href="~/img/brand/favicon.png" rel="icon" type="image/png">
<!-- Extra details for Live View on GitHub Pages -->
<!-- Canonical SEO -->
<link rel="canonical" href="https://github.com/AhmadBD/Online-Book-Store" />

<partial name="_ExternalScripts" />

<partial name="_ThemeStyles" />

<!-- Social tags -->
<meta name="keywords" content="Online Book Store">
<meta name="description" content="Online Book Store.">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Online Book Store">
<meta itemprop="description" content="Online Book Store.">

