@{
    ViewData["Title"] = "Online Book Store";
}
   <div class="tm-main-content">
                <section class="tm-margin-b-l">
                    <header>
                        <h2 class="tm-main-title">The easiest way to buy books ever</h2>    
                    </header>
                    <div class="row">
                        <div class="wrap">
                            <div class="search">
                                <input type="text" id="searchTerm" class="searchTerm" placeholder="Search" >
                                <button onclick="search(1)" class="searchButton">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div></div>
                    <div class="tm-gallery">
                        <div id="bookList" class="row">
                           
                        </div>   
                    </div>
                    
                    <nav class="tm-gallery-nav">
                        <ul class="nav justify-content-center">
                            <li class="nav-item"><button class="nav-link" onclick="search(page>1?page-1:page)"><i class="fa fa-less-than"></i></button></li>
                            <li class="nav-item"><button class="nav-link" onclick="search(page<length?page+1:page)"><i class="fa fa-greater-than"></i></button></li>
                        </ul>
                    </nav>
                </section>

                @* <section class="media tm-highlight tm-highlight-w-icon"> *@
                @* *@
                @*     <div class="tm-highlight-icon"> *@
                @*         <i class="fa tm-fa-6x fa-meetup"></i>     *@
                @*     </div>                     *@
                @* *@
                @*     <div class="media-body"> *@
                @*         <header> *@
                @*             <h2>Need Help?</h2> *@
                @*         </header> *@
                @*         <p class="tm-margin-b">Curabitur magna tellus, condimentum vitae consectetur id, elementum sit amet erat. Phasellus arcu leo, sagittis fringilla nisi et, pulvinar vestibulum mi. Maecenas mollis ullamcorper est at dignissim.</p> *@
                @*         <a href="" class="tm-white-bordered-btn">Live Chat</a> *@
                @*     </div>                     *@
                @* </section> *@
            </div>
@section Scripts
{
    <script>
    var page =1;
    var length =0;
    $(document).ready(function (){search(page)});
    function search(pag){
     var term = $("#searchTerm").val();
     $.ajax("@Url.Action("GetBooks","Book")?length=8&page="+page+"&term="+term,{
                                  
                                    type: "GET",
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function (data) {
                                        page = pag;
                                        length = data.length;
                            //           alert(JSON.stringify(data));
                                      var list = "";
                                      for (i = 0 ; i < data.data.length; i++) {
                                          
                                          list += ` <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                                              <a href="#">
                                                  <div class="tm-gallery-item-overlay">
                                                    <div class="img__wrap">
                                                      <img class="img__img img-fluid tm-img-center" src="`+data.data[i].ImageUrl+`" alt="Image" />
                                                      <p class="img__description">`+data.data[i].Title+`</p>
                                                    </div>
                                                  </div>
                                                  <p class="tm-figcaption">`+data.data[i].Title.substring(0,15)+`..</p>
                                              </a>
                                                <br>
                                               <div class="cart">
                                               <button onclick="AddToCart(this,`+data.data[i].Id+`)">Add To Cart</button>
                                               </div>
                                          </figure>
                            
                                          `; //todo  detail links
                                                  }
                                     $('#bookList').empty().append(list);
                                   
                                      },
                                      error: function (jqXhr, textStatus, errorMessage){alert('Error: ' + errorMessage);}
                                      });
                             
    }
    
    </script>
}
